.the_codes {
  margin: 3em;
  column-width: 9em;
  width: 60em;
  font-size: 0.3em;
}

.dropbox {
 color: blue;
 }

.gmail {
 color: black;
 }

.facebook {
 color: purple;
 }

.evernote {
 color: green;
 }

.lastpass {
 color: darkred;
 }

.todoist {
 color: red;
 }

